<%= render "form.html",  Map.merge(assigns, %{action: message_path(@conn, :create) , rows: 2}) %>

<message-list
  :current-user-id="<%= @current_user && @current_user.id %>"
  :initial-data="<%= MicroblogWeb.MessageView.encode_messages(@conn, @messages, @current_user) %>"
  csrf-token="<%= Plug.CSRFProtection.get_csrf_token() %>"
/>
