<div class="row user item">
  <div class="col-md-1">
    <div class="avatar-container-sm panel">
      <img src="<%= Gravity.image(@user.email) %>" alt="avatar"/>
    </div>
  </div>

  <div class="col-md-11 content">
    <div class="row">
      <%= render "title.html", user: @user, conn: @conn %>
    </div>

    <%= render "stats.html", assigns %>
  </div>
</div>
